.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 576px) {
    .main-container {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
  }
  .back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin-right: 20px;
  }
  @media screen and (max-width: 576px) {
    .back-container {
      display: flex;
    }
  }
  .cards-containers123 {
    background-color: #32127a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    padding: 15px;
    width: 380px;
  }
  .back1 {
    background-color: #f1f8fe;
  }
  .ui {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
  }
  .icons1 {
    color: black;
    font-size: 25px;
    margin-left: 40px;
  }
  .p1 {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Roboto';
  }
  .live-h {
    text-align: center;
    display: flex;
    color: black;
    font-family: 'Roboto';
    font-size: 18px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 576px) {
    .live-h {
      display: flex;
      flex-direction: column;
    }
  }
  .popup-container7 {
    width: 100%;
  }
  .img5 {
    width: 220px;
  }
  .div-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  ul {
    color: black;
    list-style-type: circle;
    font-weight: bold;
  }
  .button-container9 {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    cursor: pointer;
  }
  @media screen and (max-width: 576px) {
    .button-container9 {
      margin-top: 0px;
      cursor: pointer;
    }
  }
  .button35 {
    background-color: #32127a;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .button-container8 {
    display: flex;
    justify-content: center;
    margin-top: 155px;
    cursor: pointer;
  }
  @media screen and (max-width: 576px) {
    .button-container8 {
      margin-top: 0px;
      cursor: pointer;
    }
  }
  .button-container7 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
  }
  @media screen and (max-width: 576px) {
    .button-container7 {
      margin-top: 0px;
      cursor: pointer;
    }
  }
  .ul-123 {
    display: flex;
    flex-direction: column;
  }
  .l1 {
    color: black;
  }
  li {
    margin-bottom: 10px;
  }
