.acca63 {
    color: black;
    text-align: center;
    font-size: 36px;
  }
  .eligibility-container {
    background-color: #f2edff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px;
  }
  .eli {
    color: #32127a;
    font-size: 25px;
  }
  .li {
    color: black;
    margin-left: 15px;
  }
